# Ignore Vundle plugins (this will be managed by Vundle itself instead of git)
vim/bundle

# Ignore tmux plugins (this will be managed by tmux-plugin itself)
tmux/plugins

# Ignore my SSH keys ;)
ssh/
